<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Login Page</title>

    <!--  insta css  -->
    <link rel="stylesheet" href="../static/loginpage.css">

</head>

<script>



</script>

<body>
<div>
    <div class="login">
        <div class="section">
            <div class="loginpage">
                <div class="loginpage-article">
                    <div class="loginpage-article-layout">
                        <div class="lpal-form">

                            <!--            아이디 or 이메일 입력창          -->

                            <div class="mb-3" style="text-align:center;">
                                <label for="exampleInputEmail1" class="form-label"></label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="사용자 ID 또는 이메일">
                                <div id="emailHelp" class="form-text">
                                </div>
                            </div>

                            <!--            비밀번호 입력창          -->

                            <div class="mb-3" style="text-align:center;">
                                <label for="exampleInputPassword1" class="form-label"></label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="비밀번호">
                            </div>

                            <!--            로그인 버튼 / 일단 클릭시 메인페이지로 이동         -->

                            <div class="login-btn" style="text-align:center;">
                                <button type="button" class="btn btn-outline-primary" onclick="location.href='mainpage.html'">Login</button>
                            </div>


                            <hr style="width: 600px; border: 1px solid rgb(200, 200, 200)">

                            <!--            회원가입 버튼 / 일단 클릭시 회원가입 페이지로 이동          -->

                            <div class="login-btn" style="text-align:center;">
                                <button type="button" class="btn btn-outline-primary" onclick="location.href='signup_page.html'">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            쓸대없는 로그인 푸터          -->

            <div class="loginfooter">
                <div class="loginfooter-article">
                    <div class="lga">
                        <a href="">Meta .</a>
                        <a href="">소개 .</a>
                        <a href="">블로그 .</a>
                        <a href="">채용 정보 .</a>
                        <a href="">도움말 .</a>
                        <a href="">API .</a>
                        <a href="">개인정보처리방침 .</a>
                        <a href="">약관 .</a>
                        <a href="">인기계정 .</a>
                        <a href="">해시태그 .</a>
                        <a href="">위치 .</a>
                    </div>

                    <!--            쓸대없는 언어번환 - 기능 없음          -->

                    <div class="footer2">
                        <div class="language">
                            <select aria-label="표시언어변경" class="select" style="border-style: none">
                                <option>한국어</option>
                                <option>Afrikaans</option>
                                <option>Čeština</option>
                                <option>Dansk</option>
                                <option>Deutsch</option>
                                <option>Ελληνικά</option>
                                <option>English</option>
                                <option>English (UK)</option>
                                <option>Español</option>
                                <option>Suomi</option>
                                <option>Français</option>
                                <option>Bahasa Indonesia</option>
                                <option>Italiano</option>
                                <option>日本語</option>
                                <option>Bahasa Melayu</option>
                                <option>Norsk</option>
                                <option>Nederlands</option>
                                <option>Polski</option>
                                <option>Português (Brasil)</option>
                                <option>Русский</option>
                                <option>Svenska</option>
                                <option>ภาษาไทย</option>
                                <option>Filipino</option>
                                <option>中文(简体)</option>
                                <option>中文(台灣)</option>
                                <option>বাংলা</option>
                                <option>ગુજરાતી</option>
                                <option>हिन्दी</option>
                                <option>Hrvatski</option>
                                <option>മലയാളം</option>
                                <option>Slovenčina</option>
                                <option>Tiếng Việt</option>
                                <option>中文(香港)</option>
                                <option>Français (Canada)</option>
                                <option>Română</option>
                                <option>Српски</option>
                                <option>Українська</option>
                                <option>नेपाली</option>
                                <option>मराठी</option>
                            </select>
                        </div>
                        <div class="copy-right">
                            <p>© 2022 Instagram from Meta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>