<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <title>X_instagram</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--  CSS  -->
    <link rel="stylesheet" type="text/css" href="../static/mainpage.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="../static/side_bar.css">
    <link rel="stylesheet" href="../static/header.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--search bar link -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    fontawesome script-->
    <script src="https://kit.fontawesome.com/993c2cba92.js" crossorigin="anonymous"></script>

    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>


</head>

<script>

</script>


<body class="body">
<div class="react">
    <div class="section">

        <!--         네비게이션 헤더 바           -->
        <div class="nav">
            <div class="nav2">
                <nav class="header-wrap">

                    <!--           헤더 바              -->
                    <header class="header">

                        <!--           인스타그램 로고        -->
                        <div class="logo-area">
                            <div class="logo-area2">

                                <!--           인스타그램 로고 아이콘               -->
                                <div class="icons">
                                    <div class="icon">
                                        <div class="icon2">

                                            <!--           로고 아이콘 클릭시 어디로 이동할지 삽입해야함          -->
                                            <li class="icon3"><a href="">
                                                <i class="fa-brands fa-instagram fa-2xl icon-deco"></i>
                                                </i></a>
                                            </li>
                                        </div>
                                    </div>
                                </div>

                                <!--               인스타그램 로고 텍스트 디자인                  -->
                                <!--               텍스트 클릭시 어디로 이동할지 삽입해야함          -->
                                <div class="logo-area3">
                                    <a href=""><img alt="Instagram" class="s4Iyt logo-align"
                                                    src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"></a>
                                </div>
                            </div>
                        </div>

                        <!--           검색바               -->
                        <div class="search-area">
                            <input class="input" placeholder="Search...">
                        </div>

                        <!--           네비게이션 아이콘       -->
                        <div class="nav-layout">
                            <div class="nav-icons">

                                <!--               게시물 추가 아이콘                 -->
                                <div class="icons">
                                    <div class="icon">
                                        <div class="icon2">
                                            <li class="icon3"><a href=""><i
                                                    class="fa-solid fa-square-plus fa-2xl icon-deco"></i></a></li>
                                        </div>
                                    </div>
                                </div>

                                <!--               좋아요 아이콘                     -->
                                <div class="icons">
                                    <div class="icon">
                                        <div class="icon2">
                                            <li class="icon3"><a href=""><i
                                                    class="fa-solid fa-heart fa-2xl icon-deco"></i></a>
                                            </li>
                                        </div>
                                    </div>
                                </div>

                                <!--               다이렉트 메세지 추가 아이콘           -->
                                <div class="icons">
                                    <div class="icon">
                                        <div class="icon2">
                                            <li class="icon3"><a href=""><i
                                                    class="fa-solid fa-comments fa-2xl icon-deco"></i></a>
                                            </li>
                                        </div>
                                    </div>
                                </div>

                                <!--               마이 프로필 아이콘                 -->
                                <div class="icons">
                                    <div class="icon">
                                        <div class="icon2">
                                            <li class="icon3"><a href=""><i
                                                    class="fa-solid fa-user fa-2xl icon-deco"></i></a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </nav>
            </div>
        </div>

        <!--         메인 피드 + 사이드 바            -->
        <div class="main">
            <section class="section-feed">

                <!--            피드백 라인             -->
                <div class="feedback-line">
                    <div class="feedback-style">
                        <div class="feedback">
                            <div class="feedback2">
                                <div class="article">
                                    <div class="article1">

                                        <!--              피드 창 프로필 표시                          -->
                                        <div class="feedback-name">
                                            <div class="feedback-name2">

                                                <!--              피드 창 프로필 이름 해더                    -->
                                                <div class="feedback-name-header">

                                                    <!--              피드 창 프로필 사진                    -->
                                                    <div class="fn-b-pic">
                                                        <div class="fb-n-pic1">
                                                            <canvas class="canvas-b"></canvas>
                                                            <span class="main-contents-nav-profile-pic" role="link"
                                                                  tabindex="-1">
                                                                <img alt="..." class="main-contents-nave-profile-pic2"
                                                                     crossorigin="anonymous" data-testid="user-avatar"
                                                                     draggable="false" src="....">
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <!--              피드 창 프로필 이름                    -->
                                                    <!--              피드 창 프로필 이름 Id                 -->
                                                    <div class="fb-n-title">
                                                        <div class="fb-n-title-up">
                                                            <div class="fbntu-1">
                                                                <div class="fbntu-2">
                                                                    <a class="fbntu-span" href=""
                                                                       tabindex="0">LIVERPOOL</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <!--              피드 창 프로필 이름 테그                -->
                                                        <div class="fb-n-title-down">
                                                            <div class="fbntd-1">
                                                                <div class="fbntd-2">
                                                                    <div class="fbntd-3">
                                                                        <a class="fbntd-Atag" href="..." tabindex="0">AXA
                                                                            Center</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--              피드 창 프로필 모달 쩜쩜쩜                   -->
                                                <div class="feedback-name-tag">
                                                    <button class="fnt-btn">
                                                        <div class="fnt-btn-1">
                                                            <div class="fnt-btn-2">
                                                                <svg class="fnt-btn-svg" aria-label="More options"
                                                                     role="img" viewBox="0 0 24 24">
                                                                    <circle cx="4" cy="12" r="1.5"></circle>
                                                                    <circle cx="12" cy="12" r="1.5"></circle>
                                                                    <circle cx="20" cy="12" r="1.5"></circle>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!--              피드 창 캐러셀 표시                          -->
                                        <div></div>

                                        <!--              피드 창 컨텐츠 표시                          -->
                                        <div class="feedback-contents">
                                            <div class="feedback-contents-layout">
                                                <section>
                                                    <h4>1</h4>
                                                </section>
                                                <section>
                                                    <h4>1</h4>
                                                </section>
                                                <div>
                                                    <h4>1</h4>
                                                </div>
                                                <div>
                                                    <h4>1</h4>
                                                </div>
                                                <section>
                                                    <h4>1</h4>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--            사이드 바 라인           -->
                <div>
                    <div class="main-side-bar">

                        <!--            사이드 바 라인 내 프로필           -->
                        <div class="msb-profile">
                            <div class="msb-profile-area">
                                <div class="msd-profile-border">

                                    <!--            사이드 바 라인 내 프로필 사진          -->
                                    <div class="msd-profile-user-pic">
                                        <a class="mpup-1"></a>
                                    </div>

                                    <!--            사이드 바 라인 내 프로필 ID랑 ID태그           -->
                                    <div class="msd-profile-user-id">
                                        <div class-="mpui-1">
                                            <a class="mpui-1-id" href="" tabindex="0">김혁진</a>
                                        </div>
                                        <div class="mpui-2">
                                            <div>21-22 챔스 우승 리버풀</div>
                                        </div>
                                    </div>

                                    <!--            사이드 바 라인 내 프로필 계정전환          -->
                                    <div class="msd-profile-user-account">
                                        <button class="mpua-btn">Switch</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--            사이드 바 라인 추천 프로필          -->
                        <div class="msb-suggest">

                            <!--            사이드 바 라인 추천 프로필 See all          -->
                            <div class="msbs-text-area">
                                <div class="msbs-text">
                                    <div class="msbs-text-1">
                                        <p>Suggestions For You</p>
                                    </div>
                                    <div class="msbs-seeall">
                                        <p>See All</p>
                                    </div>
                                </div>
                            </div>

                            <!--            사이드 바 라인 추천 개별 프로필모음           -->
                            <div class="msbap-area">
                                <div class="msb-another-profile-1">

                                    <!--            사이드 바 라인 추천 개별 프로필 1           -->
                                    <div class="msb-another-profile">
                                        <div class="msb-another-profile-area">
                                            <div class="msd-another-profile-border">
                                                <div class="msd-another-profile-user-pic">
                                                    <a class="mapup-1"></a>
                                                </div>
                                                <div class="masd-profile-user-id">
                                                    <div class-="mapui-1">
                                                        <a class="mapui-1-id" href="" tabindex="0">안정환</a>
                                                    </div>
                                                    <div class="mapui-2">
                                                        <div>경기 수원</div>
                                                    </div>
                                                </div>
                                                <div class="msd-another-profile-user-follow">
                                                    <button class="mapua-btn">follow</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--            사이드 바 라인 추천 개별 프로필 2           -->
                                    <div class="msb-another-profile">
                                        <div class="msb-another-profile-area">
                                            <div class="msd-another-profile-border">
                                                <div class="msd-another-profile-user-pic">
                                                    <a class="mapup-1"></a>
                                                </div>
                                                <div class="masd-profile-user-id">
                                                    <div class-="mapui-1">
                                                        <a class="mapui-1-id" href="" tabindex="0">서정인</a>
                                                    </div>
                                                    <div class="mapui-2">
                                                        <div>충북 청주</div>
                                                    </div>
                                                </div>
                                                <div class="msd-another-profile-user-follow">
                                                    <button class="mapua-btn">follow</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--            사이드 바 라인 추천 개별 프로필 3           -->
                                    <div class="msb-another-profile">
                                        <div class="msb-another-profile-area">
                                            <div class="msd-another-profile-border">
                                                <div class="msd-another-profile-user-pic">
                                                    <a class="mapup-1"></a>
                                                </div>
                                                <div class="masd-profile-user-id">
                                                    <div class-="mapui-1">
                                                        <a class="mapui-1-id" href="" tabindex="0">김정후</a>
                                                    </div>
                                                    <div class="mapui-2">
                                                        <div>경기 김포</div>
                                                    </div>
                                                </div>
                                                <div class="msd-another-profile-user-follow">
                                                    <button class="mapua-btn">follow</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--            사이드 바 라인 추천 개별 프로필 4           -->
                                    <div class="msb-another-profile">
                                        <div class="msb-another-profile-area">
                                            <div class="msd-another-profile-border">
                                                <div class="msd-another-profile-user-pic">
                                                    <a class="mapup-1"></a>
                                                </div>
                                                <div class="masd-profile-user-id">
                                                    <div class-="mapui-1">
                                                        <a class="mapui-1-id" href="" tabindex="0">이범규</a>
                                                    </div>
                                                    <div class="mapui-2">
                                                        <div>스파르타 코딩클럽 대표</div>
                                                    </div>
                                                </div>
                                                <div class="msd-another-profile-user-follow">
                                                    <button class="mapua-btn">follow</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--            사이드 바 라인 풋터               -->
                        <div class="msb-footer">

                            <!--            사이드 바 라인 풋터 관련링크모음               -->
                            <div class="msbf-nav">
                                <ul class="msbf-nav-ul">
                                    <li class="msbf-nav-li">About</li>
                                    <li class="msbf-nav-li">Help</li>
                                    <li class="msbf-nav-li">Press</li>
                                    <li class="msbf-nav-li">API</li>
                                    <li class="msbf-nav-li">Jobs</li>
                                    <li class="msbf-nav-li">Privacy</li>
                                    <li class="msbf-nav-li">Terms</li>
                                    <li class="msbf-nav-li">Location</li>
                                    <li class="msbf-nav-li">Top Accounts</li>
                                    <li class="msbf-nav-li">Hashtags</li>
                                    <li class="msbf-nav-li">Language</li>
                                </ul>
                            </div>

                            <!--            사이드 바 라인 풋터 copy-right는 3팀에게               -->
                            <div class="msbf-copyright">
                                <p>㏇ 2022 Sparta Coding Club AI 3team</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


</body>

</html>